<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jugadores</title>
</head>

<body>
    <div id="container-main">
        <div id="title">
            <h2><b>Infografía jugadores</b></h2>
        </div>
        <div id="container-secondary">
            <div id="player-link" *ngFor="let jugador of jugadores">
                <a routerLink="PlayerDescription/{{jugador.nombre}}">
                    <img [src]="jugador.img_main">
                    <h2>{{jugador.nombre_pila}}</h2>
                </a>
            </div>
        </div>
    </div>
</body>

</html>